body{
    position: relative;
    background-color: black;
    color:rgb(16, 4, 32);

    font-family :Arial, Helvetica, sans-serif;
    font-size:larger;
    line-height: 0,5cm;
    margin: 0;
    padding: 60px;
    
}
.ecritext{
    color:white;
    font-family:montserrat;
    text-align:left;
    margin: 0px;
    display: flex; 
    flex-direction: column;
      
}

.image2{
    width: 400px;
    height: 200px;
    border-radius:80px;
    object-fit: cover;
}
h3{
    text-align: center;
}


.corps{
    background-color: aqua;
    max-width: 800px;
    font-family: 'Courier New', Courier, monospace;
     text-align: center;
}
.entete{
    background-color: black;
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    font-display: block;
    font-style: italic;
    font-weight: 10px;
    text-align: center;
}



#tp{
    border-radius: 115px

}

.eze{
    display: block;
    width:200px ;
    height: 200px;   
    border-radius: 80px;
}
#tm{
    position: absolute;
    top: 15%;
    right: 0%;
    border: 10px, black;
}
form{
       background-color: aquamarine;
        font-display: block;
        font-size: medium;
        font-family: 'Courier New', Courier, monospace;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;

}
button{
    color: white;
    background-color: black;
    
}
.color{
    background-color: rgb(226, 240, 240);
    padding: 8px;
}
mark{
    background-color: aqua;
}
#formA{
    color:aliceblue
}