*{
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    background-color: rgb(6, 38, 106);
    color:rgb(16, 4, 32);

    font-family :Arial, Helvetica, sans-serif;
    
}
header{
    background-color: rgb(72, 29, 118);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 10px;
    display: flex;
    align-items: center;


}
.zone2 h3{
    text-align: center;
    font-weight: 700;
    font-size: 5rem;
    border-radius: 5px;
    background-color: aliceblue;
    margin: 1rem;

}
.gor{
    margin: 1rem;
}
.video{

    display: flex;
    gap: 4rem;
    width: 100rem;
    margin: 1rem;
    height: 400px;
}
.image2{
    width: 400px;
    height: 200px;
    border-radius:80px;
    object-fit: cover;
}
h3{
    text-align: center;
}


/*.corps{
    background-color: rgb(35, 9, 155);
    max-width: 800px;
    font-family: 'Courier New', Courier, monospace;
     text-align: center;
}*/
.entete{
    
    font-family: 'Times New Roman', Times, serif;
    font-display: block;
    font-style: italic;
    font-weight: 10px;
    text-align: center;
}



#tp{
    border-radius: 115px

}

.eze{
    display: block;
    width:200px ;
    height: 200px;   
    border-radius: 80px;
}
#tm{
    position: absolute;
    top: 15%;
    right: 0%;
    border: 10px, black;
}
form{
       background-color: aquamarine;
        font-display: block;
        font-size: medium;
        font-family: 'Courier New', Courier, monospace;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;

}
button{
    color: white;
    background-color: black;
    
}
.color{
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.7rem;
}
/*mark{
    background-color: aqua;
    border-radius: 3rem;
}*/
