*{
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    background:linear-gradient(to bottom, white, rgba(230, 144, 238, 0.863));
    color:rgb(16, 4, 32);

    font-family :Arial, Helvetica, sans-serif;
    
}

.ecritext{
    background-color: rgb(183, 137, 238);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;

}
   



.zone2 h3{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    border-radius: 5px;
    margin: 1rem;


}
.gor{
    margin: 1rem;
}
.video{

    display: flex;
    gap: 4rem;
    width: 100rem;
    margin: 1rem;
    height: 400px;
}
.image2{
    width: 300px;
    height: 250px;
    border-radius:50%;
    object-fit: cover;
    
    

    object-fit: cover;
}
h3{
    text-align: center;
}


/*.corps{
    background-color: rgb(35, 9, 155);
    max-width: 800px;
    font-family: 'Courier New', Courier, monospace;
     text-align: center;
}*/
.entete{
    
    font-family: 'Times New Roman', Times, serif;
    font-display: block;
    font-style: italic;
    font-weight: 10px;
    text-align: center;
}



#tp{
    border-radius: 115px

}

.eze{
    display: block;
    width:200px ;
    height: 200px;   
    border-radius: 80px;
}
#tm{
    position: absolute;
    top: 15%;
    right: 0%;
    border: 10px, black;
}
form{
       background-color: aquamarine;
        font-display: block;
        font-size: medium;
        font-family: 'Courier New', Courier, monospace;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;

}
button{
    color: white;
    background-color: black;
    
}
.color{
    background-color:rgb(183, 137, 238);
    color:white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.7rem;
    
}



/*mark{
    background-color: aqua;
    border-radius: 3rem;
}*/
